<style>
    input[type=text] {
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid silver;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    button {
        border: 2px solid silver;
        background-color: white;
        font-size: 16px;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        cursor: pointer;
    }

    button:active {
        border-color: black;
    }

    #container {
        padding: 20px;
    }
</style>

<div id="container">

    <div>
        <img src="../../../assets/angular.png" width="50">
    </div>
    <h1>Voltron</h1>

    <button (click)='triggerEffects()'>Trigger Async Notifications</button>

    <div>
        <div *ngFor='let notification of notifications$ | async'>
            <h3>{{ notification.id }} - {{ notification.name }}</h3>
            {{ notification.description }}
        </div>
    </div>
    <div>
        <ng-container #vc></ng-container>
    </div>
</div>