<div>
    <img src="../../assets/angular.png" width="50">
</div>
<h1>Welcome!</h1>

<p>
    <a routerLink="/flights/flights-search">Search For Voltron</a>
</p>

<div style='position:relative; padding-bottom:calc(78.57% + 44px)'>
    <iframe src='https://gfycat.com/ifr/CriminalKindheartedAustraliancurlew' frameborder='0' scrolling='no' width='150' height='150' style='position:absolute;top:0;left:0;'>
    </iframe>
</div>
<p> <a href="https://gfycat.com/criminalkindheartedaustraliancurlew">via Gfycat</a></p>